@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

body {
  font-family: 'Arvo';
}

.red {
  background-color: rgb(205,92,92);
}

.green {
  background-color: hsl(141, 71%, 48%);
}
