<br />
<h1 class="title">About</h1>

<p>The Gig Calculator is a tool for freelancers to see how much money they're actually making on a gig.</p>
<br />
<p>The calculator takes all the financial variables of a gig (time, gas, etc.),  and gives a complete breakdown of the expenses. It will then give a recommendation as to whether a gig is worth accepting. It also saves gigs for future reference.</p>
<br />
<p>Gigs highlighted green are profitable where gigs highlighted red are not profitable.</p>
