<!-- create form -->
<h1>Add Gig</h1>
<form ng-submit="ctrl.createGig()">
  <input class="input is-rounded" type="text" ng-model="ctrl.venue" placeholder="Venue"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.address" placeholder="Address"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.contact"  placeholder="Contact"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.contactInfo" placeholder="Contact Information"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.pay" placeholder="Pay"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.gigType" placeholder="Gig Type"/>
  <input class="button is-primary" type="submit" value="Add Gig" />
</form>
