<!-- create form -->
<br />
<h1 class="title has-text-centered">Add Gig</h1>
<form ng-submit="ctrl.createGig(); ctrl.changeInclude('savedgigs')" onSubmit="window.location.reload();" style="margin-bottom: 20px; width: 30%; margin-left: auto; margin-right: auto;" class="has-text-centered">
  <input class="input is-rounded" type="text" ng-model="ctrl.venue" placeholder="Venue"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.date" placeholder="Date"/>
  <input class="input is-rounded" type="text" ng-model="ctrl.contact"  placeholder="Contact"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.pay" placeholder="Pay"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.gigLength" placeholder="Gig Length"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.travelDistance" placeholder="Travel Distance"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.travelTime" placeholder="Travel Time"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.costOfGas" placeholder="Cost Of Gas"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.milesPerGallon" placeholder="Miles Per Gallon"/>
  <input class="input is-rounded" type="number" ng-model="ctrl.extraneousExpenses" placeholder="Extraneous Expenses"/>
  <input class="button is-primary" type="submit" value="Calculate" style="margin-top:10px; font-family: 'Arvo'"/>
</form>
