<div class="navbar-brand">
  <a class="navbar-item" ng-click="ctrl.changeInclude('savedgigs')">
    <h1 class="title" width="112" height="28">The Gig Calculator</h1>
  </a>


</div>

<div id="navbarBasicExample" class="navbar-menu is-active">
  <div class="navbar-start">

    <a ng-click="ctrl.changeInclude('about')" class="navbar-item">
      About
    </a>

    <a ng-click="ctrl.changeInclude('savedgigs')" class="navbar-item">
      Gigs
    </a>

    <a ng-click="ctrl.changeInclude('addgig')" class="navbar-item">
      Add Gig
    </a>


    </div>
  </div>


</div>
