<div class="navbar-brand">
  <a class="navbar-item" href="#">
    <h1 width="112" height="28">Gig Keeper</h1>
  </a>


</div>

<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">

    <a ng-click="ctrl.changeInclude('about')" class="navbar-item">
      About
    </a>

    <a ng-click="ctrl.changeInclude('savedgigs')" class="navbar-item">
      Gigs
    </a>

    <a ng-click="ctrl.changeInclude('addgig')" class="navbar-item">
      Add Gig
    </a>


    </div>
  </div>


</div>
